<html lang="en">
<head>
  <meta charset="UTF-8">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}SNPSearcherAPP home{% endblock %}</title>
</head>
<body>
  <br>
  {% block content %}
  <h1>Welcome on SNPSearcher </h1>
  <p> Pick your poison: </p>
  <div class="vertical-menu", style="text-align: center;">
    <ul>
      <a href="/Phenotype_search">Phenotype Search</a>
      <a href="/Phenotype_list_page">Phenotype List Page</a>
      <a href="/SNP_search_form_page">SNP Search form page</a>  
    </ul>
  </div>
  <br><br>
  <p>
    Phenotype search: allows you to search for a phenotype and get more information about it
  </p>
  <p>
    Phenotype List Page: allows you to scroll through a phenotype list and get more information about a given phenotype
  </p>
  <p>
    SNP Search form page: allows you to search for a given SNP using the Rsid associated or for a region and obtain information about the SNP linked to it
  </p>
  <br>
  {% endblock %}
  <section id="load">
    {% block load %} {{data}} {% endblock %}
  </section>

  <footer>&copy; SNPSearcherApp</footer>
</body>
</html>