{% extends 'SNPSearcherApp/home.html' %}

{% block load %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.tsv }}
    <button type="submit">Send</button>
  </form>
{% endblock %}
