{% extends 'SNPSearcherApp/home.html' %}

{% block content %}
<div>
  <h1 type="button"><a id="Homepage" href="{% url 'home' %}"</a>SNPSearcher</h1>
  <br>
  <h2>{{ Disease_Trait }}</h2>
  <br></br>
  <label>Reference : </label>
  <ul id="refs">
    {% for ref in Refs %}
      {% for pid in Pid %}
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/{{pid}}">{{ ref }}</a>
      {% endfor %}
    {% endfor %}
  </ul>
  <br>
  <h3> Associated SNPs: </h3>
  <br>
  <ul id="snps">
    {% for snp in Rsid %}
      <a>{{ snp }}</a>
    {% endfor %}
  </ul>
</div> 
{% endblock %} 