{% extends 'SNPSearcherApp/home.html' %}

{% block content %}
  <header>SNP Searcher Phenotype list page: </header>
  <h1>Phenotype list</h1>
  <p> Click on one of the phenotypes to get more informations about it</p>

  <div class="vertical-menu", style="text-align: center;">
    <!-- fonction pour generer liste tant que i <= size_bd -->
    {% if phen_list %}
      <ul>
        {% for phens in phen_list %}
          <a href="{% url 'phens_detail' id=phens.id %}">{{ phens.Disease_Trait }}</a>
        {% endfor %}
      </ul>
    {% endif %}     
  </div>  
{% endblock %} 
