{% extends 'SNPSearcherApp/home.html' %}

{% block content %}
  <form method="post" id = "phen">
    {% csrf_token %}
    <label for="phen_name">Phenotype name: </label>
    <br>
    <br>
    <input name="phen_name" value="Asthma"><br><br>
    <button type="submit">Search</button>  
  </form>
  <br><br><br>
  <h2> Available phenotypes: </h2>
  <br>
  <ul>
    {% for p in Phenotypes %}
        <li>{{ p }}</li>
    {% endfor %}
  </ul>  
{% endblock %} 