{% extends 'SNPSearcherApp/home.html' %}

{% block content %}
  <br><br>
  <div class="row">
    <div class="column" style="background-color:rgba(5, 73, 70, 0.911);">
      <h2>SNP: {{ Rsid }}</h2>
      <br>
      <p>Name of the Rsid of the SNP searched</p>
    </div>      
  </div>
  <br>
  <div class="row" style="height: 20%;"">
    <div class="column" style="background-color:rgba(5, 49, 47, 0.911);">
      <h2><a href="{% url 'phens_detail' id=ID %}">{{ Phenotype }}</a></h2>
      <br>
      <p>Name of the phenotpe linked to the SNP searched</p>
    </div>      
  </div>
  <br>
  <div class="row">
    <div class="column" style="background-color:rgba(64, 24, 87, 0.911);">
      <h2>{{ P_value }}</h2>
      <br>
      <p>The significance value associated (P-value)</p>
    </div>  
    <div class="column" style="background-color:rgba(64, 24, 87, 0.911);">
      <h2>{{ P_valueMlog }}</h2>
      <br>
      <p>The significance value associated (P-value mlog)</p>
    </div>  
  </div>
  <br>
  <div class="row">
    <div class="column" style="background-color:rgba(24, 69, 87, 0.911);">
      <h2>{{ Chr_Id }}</h2>
      <br>
      <p>Chromosome affected by this SNP</p>
    </div>  
    <div class="column" style="background-color:rgba(24, 69, 87, 0.911);">
      <h2>{{ Region }}</h2>
      <br>
      <p>Region of the affection</p>
    </div>          
  </div>
  <br>
  <div class="row">
    <div class="column" style="background-color:rgba(112, 79, 29, 0.911);">
      <h2>{{ Strongest_Allele }}</h2>
      <br>
      <p>Strongest SNP Risk Allele</p>
    </div>  
    <div class="column" style="background-color:rgba(112, 79, 29, 0.911);">
      <h2>{{ Context }}</h2>
      <br>
      <p>Context of the SNP</p>
    </div>          
  </div>
  <br>
  <div class="row"  style="height: 30%;">
    <div class="column" style="background-color:rgba(29, 112, 40, 0.911);">
      <h2>{{ Study }}</h2>
      <br>
      <p>Title of the study linked to this SNP</p>
    </div>  
    <div class="column" style="background-color:rgba(29, 112, 40, 0.911);">
      <br><br>
      <h2>{{ Journal }}</h2>
      <br><br><br>
      <p>Journal of the Study</p>
    </div> 
    <div class="column" style="background-color:rgba(29, 112, 40, 0.911);">
      <br><br>
      <h2>{{ Author }}</h2>
      <br><br><br>
      <p>First Author</p>
    </div>          
  </div>
  <br>
  <div class="row"  style="height: 30%;">
    <div class="column" style="background-color:rgba(20, 83, 29, 0.911);">
      <br>
      <h2>{{ Date }}</h2>
      <br>
      <p>Date when the study was published</p>
    </div>  
    <div class="column" style="background-color:rgba(19, 80, 27, 0.911);">
      <br>
      <h2>{{ Sample_size }}</h2>
      <br>
      <p>Size of sample that was used for the study</p>
    </div>        
  </div>
  <br>
{% endblock %} 