{% extends 'SNPSearcherApp/home.html' %}

{% block content %}
  <br>
  <form method="post" id = "snp">
    <label>Select the search method:</label>
    <br>
    {% csrf_token %}
    <div>
      <br>
      <input type="radio" name="rsid" value="rsid">
      <label for="rsid">Rsid</label>

      <input type="radio" name="region" value="region">
      <label for="context">Region</label>
    </div>
    <div>
      <br>
      <input name="name" value="rs130067 or 17q21.1"><br>
    </div>
    <div>
      <br>    
      <button type="submit">Submit</button>
    </div>
  </form>
  <br>
  <p>
    Tip: Choose only one option between Rsid and Region.
  </p>
  <p>
    This forms allows you to either search by Rsid or by Region. If
    you choose to search by an SNP Rsid or you choose to search by Region. Click submit when you
    you think you're done.
  </p>

{% endblock %} 