{% extends 'SNPSearcherApp/home.html' %}

{% block content %}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/js/jquery.tablesorter.min.js"></script>
  <script>
    $(document).ready(function(){
      $("#SNP_table").tablesorter();
    });
  </script>
  <h1 type="button"><a id="Homepage" href="{% url 'home' %}"</a>SNPSearcher</h1>
  <br>
  <br>
  <table style="width:100%" id="SNP_table">
    <thead>
      <tr>
        <th>Rsid</th>
        <th>Disease Trait</th>
        <th>P-value</th>
        <th>P-value mlog</th>
        <th>Chr_Id</th>
        <th>Context</th>
        <th>Strongest SNP Risk Allele</th>
        <th>Region</th>
      </tr>
    </thead>
    <tbody>
      {% for i in Items %}
        <tr>
          <td><a href="{% url 'snp_detail_page' id=ID %}">{{ i.Rsid }}</a></td>
          <td><a href="{% url 'phens_detail' id=Id %}">{{ i.Disease_Trait }}</a></td>
          <td>{{ i.PV }}</td>
          <td>{{ i.PM }}</td>
          <td>{{ i.Chr_Id }}</td>
          <td>{{ i.Cxt }}</td>
          <td>{{ i.SA }}</td>
          <td>{{ i.Region }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table> 
  <br>

{% endblock %} 