/* basic elements */
html {
	margin: 0;
    padding: 0;
}

body { 
	font: 80% georgia, sans-serif;
	line-height: 1.88889;
	color: #f5faf1; 
    background: #fff; 
    background-image: url("background.jpeg");
    background-size: 2000px;
	margin: 0; 
    padding: 0;
    text-align: center;
}

p { 
    font: 120% georgia, sans-serif;
    margin-top: 0; 
    text-align: justify;
    text-align: center;
}

h2 { 
	font: bold normal 3em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
    color: rgb(255, 255, 255);
    text-align: center;
}

h3 { 
	font: bold normal 1.2em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
    color: rgb(255, 255, 255);
    text-align: center;
}

header {
    font: bold normal 1.8em georgia, sans-serif;
    letter-spacing: 1px; 
	margin-bottom: 0; 
    color: rgb(255, 255, 255);
    text-align: center;
}

label {
    font: normal 1.4em georgia, sans-serif;
    letter-spacing: 1px; 
	margin-bottom: 0; 
    color: rgb(255, 255, 255);
    text-align: center;
}

footer {
    font: normal 1.1em georgia, sans-serif;
    letter-spacing: 1px; 
	margin-bottom: 0; 
    color: rgb(255, 255, 255);
    text-align: center;
    bottom:0;
    position: absolute;
    width: 100%;
}

a:link { 
	text-decoration: none; 
    color: rgb(24, 141, 177);
    text-align: center;
    font: bold normal 1.3em georgia, sans-serif;
}
    
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
    color: rgb(8, 224, 160);
    text-align: center;
}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
    color: rgb(4, 152, 197);
    text-align: center;
}

a {
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: underline; 
    font: bold normal 1.4em georgia, sans-serif;
}

abbr {
    border-bottom: none;
    text-align: center;
}

div {
    text-align: center;
}

button,
legend {
  color: rgb(0, 0, 0);
  background-color: rgb(12, 149, 240);
  padding: 8px 20px;
  border-radius: 0;
  border: 0;
  font-size: 14px;
}

button:active {
    background-color: white;
    color: black;
    outline: 1px solid black;
}
 
.vertical-menu {
    width: 300px; /* Set a width if you like */
    /* height: 150px; */
    text-align: center;
}

.vertical-menu a {
    background-color: rgb(20, 67, 78); /* Grey background color */
    color: rgb(245, 246, 255); /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 15px 780; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    width: 200px;   
    text-align: center;
}
  
.vertical-menu a:hover {
    background-color: rgb(21, 88, 88); /* Dark grey background on mouse-over */
    opacity: 0.6;
}
  
table{
    width: 100%;
    background-color: #f1f1c1;
    color: rgb(0, 0, 0);
    text-align: center;
  }

table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
    background-color: #fff;
}
table th {
    color: rgb(0, 0, 0);
    background-color: rgb(32, 212, 173);
}

.row {
    display: flex;
    height: 15%;
    
  }
  
  .column {
    flex: 50%;
  }

li {
    display: block;
    width: 15%;
    float: left;
    font: normal 1.4em georgia, sans-serif;
}